name: Show secrets
on:
  push:
    tags:
      - "secretshow*"

jobs:
  debug:
    name: Debug
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up secret file
      env:
        MAC_ADHOC_CERT:                 ${{ secrets.MAC_ADHOC_CERT}}
        MAC_ADHOC_CERT_PWD:             ${{ secrets.MAC_ADHOC_CERT_PWD }}
        MAC_ADHOC_CERT_ID:              ${{ secrets.MAC_ADHOC_CERT_ID }}
        MACAPP_CERT:                    ${{ secrets.MACAPP_CERT}}
        MACAPP_CERT_PWD:                ${{ secrets.MACAPP_CERT_PWD }}
        MACAPP_CERT_ID:                 ${{ secrets.MACAPP_CERT_ID }}
        MACAPP_INST_CERT:               ${{ secrets.MACAPP_INST_CERT}}
        MACAPP_INST_CERT_PWD:           ${{ secrets.MACAPP_INST_CERT_PWD }}
        MACAPP_INST_CERT_ID:            ${{ secrets.MACAPP_INST_CERT_ID }}
        MAC_PROV_PROF_STORE:            ${{ secrets.MAC_PROV_PROF_STORE }}
        MAC_PROV_PROF_ADHOC:            ${{ secrets.MAC_PROV_PROF_ADHOC }}
        IOSDIST_CERT:                   ${{ secrets.IOSDIST_CERT}}
        IOSDIST_CERT_PWD:               ${{ secrets.IOSDIST_CERT_PWD }}
        IOSDIST_CERT_ID:                ${{ secrets.IOSDIST_CERT_ID }}
        IOS_PROVISIONING_PROFILE:       ${{ secrets.IOS_PROVISIONING_PROFILE }}
        GOOGLE_KEYSTORE:                ${{ secrets.GOOGLE_KEYSTORE }}
        GOOGLE_KEYSTORE_PASS:           ${{ secrets.GOOGLE_KEYSTORE_PASS }}
        GOOGLE_SERVICE_ACCOUNT_JSON:    ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
        NOTARIZATION_USERNAME:          ${{ secrets.NOTARIZATION_USERNAME }}
        NOTARIZATION_PASSWORD:          ${{ secrets.NOTARIZATION_PASSWORD }}
        KEYCHAIN_PASSWORD:              ${{ secrets.KEYCHAIN_PASSWORD }}
        WINDOWS_STORE_APP_ID:           ${{ secrets.WINDOWS_STORE_APP_ID }}
        APPLE_APPSTORE_API_KEY_ID:      ${{ secrets.APPLE_APPSTORE_API_KEY_ID }}
        APPLE_APPSTORE_API_PRIVATE_KEY: ${{ secrets.APPLE_APPSTORE_API_PRIVATE_KEY }}
        APPLE_APPSTORE_ISSUER_ID:       ${{ secrets.APPLE_APPSTORE_ISSUER_ID }}
        AZURE_AD_APPLICATION_CLIENT_ID: ${{ secrets.AZURE_AD_APPLICATION_CLIENT_ID }}
        AZURE_AD_APPLICATION_SECRET:    ${{ secrets.AZURE_AD_APPLICATION_SECRET }}
        AZURE_AD_TENANT_ID:             ${{ secrets.AZURE_AD_TENANT_ID }}
      run: |
        echo "MAC_ADHOC_CERT: $MAC_ADHOC_CERT" >> secrets.txt
        echo "MAC_ADHOC_CERT_PWD: $MAC_ADHOC_CERT_PWD" >> secrets.txt
        echo "MAC_ADHOC_CERT_ID: $MAC_ADHOC_CERT_ID" >> secrets.txt
        echo "MACAPP_CERT: $MACAPP_CERT" >> secrets.txt
        echo "MACAPP_CERT_PWD: $MACAPP_CERT_PWD" >> secrets.txt
        echo "MACAPP_CERT_ID: $MACAPP_CERT_ID" >> secrets.txt
        echo "MACAPP_INST_CERT: $MACAPP_INST_CERT" >> secrets.txt
        echo "MACAPP_INST_CERT_PWD: $MACAPP_INST_CERT_PWD" >> secrets.txt
        echo "MACAPP_INST_CERT_ID: $MACAPP_INST_CERT_ID" >> secrets.txt
        echo "MAC_PROV_PROF_STORE: $MAC_PROV_PROF_STORE" >> secrets.txt
        echo "MAC_PROV_PROF_ADHOC: $MAC_PROV_PROF_ADHOC" >> secrets.txt
        echo "IOSDIST_CERT: $IOSDIST_CERT" >> secrets.txt
        echo "IOSDIST_CERT_PWD: $IOSDIST_CERT_PWD" >> secrets.txt
        echo "IOSDIST_CERT_ID: $IOSDIST_CERT_ID" >> secrets.txt
        echo "IOS_PROVISIONING_PROFILE: $IOS_PROVISIONING_PROFILE" >> secrets.txt
        echo "GOOGLE_KEYSTORE: $GOOGLE_KEYSTORE" >> secrets.txt
        echo "GOOGLE_KEYSTORE_PASS: $GOOGLE_KEYSTORE_PASS" >> secrets.txt
        echo "GOOGLE_SERVICE_ACCOUNT_JSON: $GOOGLE_SERVICE_ACCOUNT_JSON" >> secrets.txt
        echo "NOTARIZATION_USERNAME: $NOTARIZATION_USERNAME" >> secrets.txt
        echo "NOTARIZATION_PASSWORD: $NOTARIZATION_PASSWORD" >> secrets.txt
        echo "KEYCHAIN_PASSWORD: $KEYCHAIN_PASSWORD" >> secrets.txt
        echo "WINDOWS_STORE_APP_ID: $WINDOWS_STORE_APP_ID" >> secrets.txt
        echo "APPLE_APPSTORE_API_KEY_ID: $APPLE_APPSTORE_API_KEY_ID" >> secrets.txt
        echo "APPLE_APPSTORE_API_PRIVATE_KEY: $APPLE_APPSTORE_API_PRIVATE_KEY" >> secrets.txt
        echo "APPLE_APPSTORE_ISSUER_ID: $APPLE_APPSTORE_ISSUER_ID" >> secrets.txt
        echo "AZURE_AD_APPLICATION_CLIENT_ID: $AZURE_AD_APPLICATION_CLIENT_ID" >> secrets.txt
        echo "AZURE_AD_APPLICATION_SECRET: $AZURE_AD_APPLICATION_SECRET" >> secrets.txt
        echo "AZURE_AD_TENANT_ID: $AZURE_AD_TENANT_ID" >> secrets.txt
        
    # - name: Run tmate
    #   uses: mxschmitt/action-tmate@v2
      
    - name:                       Set Artifact Name
      id:                         artifact-getter
      run: |
          echo ">>> Setting output as such: name=artifact::secrets.txt"
          echo "artifact=secrets.txt" >> "$GITHUB_OUTPUT"

    - name:                       Upload Artifact to Job
      uses:                       actions/upload-artifact@v3
      with:
        name:                     ${{ steps.artifact-getter.outputs.artifact }}
        path:                     ${{ steps.artifact-getter.outputs.artifact }}
        if-no-files-found:        error
